
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Task Manager</title>


</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Sudharsh</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a routerLink ="/day1">Day 1</a>
                </li>
                <li>
                    <a routerLink ="/day2">Day 2</a>
                </li>
                <li>
                    <a routerLink ="/day3">Day 3</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">
        </div>
    </div>
    <router-outlet></router-outlet>    
</body>


